<html>
<head>
<title>HOME</title>
<style>  
   body
   	{
   		background-color:black;  
   	} 
   	marquee
   	{
   		font-size: 50px;
        font-weight: 200;
        color: black;
        font-family: sans-serif;
        width: 100%;
        padding: 1px 0 ;
        background-color:red;
   	}	
    a
    {
    	font-size: 20px;
        font-weight: 200;
        color: blue;
        font-family: sans-serif;
    }        
</style>
</head>
<body>
	<marquee behavior="alternate" direction="right" scrollamount="20" >
		WELCOME TO LIONS CLUB
	</marquee>
<a href="register.html" >click to register</a><br>
<a href="login.html" >click to login</a>
</body>
</html>
