<html>
<head>
<title>LOGIN</title>
<style>  
  	body
   	{
   		background-color:black;  
   	} 	 
   	form
   	{
   		font-size: 20px;
        font-weight: 200;
        color: black;
        font-family: sans-serif;
        width: 100%;
        padding: 1px 0 ;
        background-color:red;
   	}	     
</style>	
</head>
<body>
<form action="Login">
USER_ID<input type="text" name="user" required="required"/><br>
PASSWORD<input type="password" name="pwd" required="required"/><br>
<input type="submit" value="LOGIN"/>
</form>
</body>
</html>
