<html>
<head>
<title>REGISTER</title>
</head>
<style>  
  	body
   	{
   		background-color:black;  
   	} 	 
   	form
   	{
   		font-size: 20px;
        font-weight: 200;
        color: black;
        font-family: sans-serif;
        width: 100%;
        padding: 1px 0 ;
        background-color:red;
   	}	     
</style>
<body>
<form action="Register">
NAME<input type="text" name="name" required="required"/><br>
AGE<input type="text" name="age" required="required"/><br>
GENDER<input type="text" name="gender" required="required"/><br>
USER<input type="text" name="user" required="required"/><br>
PWD<input type="text" name="pwd" required="required"/><br>
<input type="submit" value="REGISTER"/>
</form>
</body>
</html>
