<html>
<head>
<title>SUCCESS</title>
<style>  
   body
   	{
   		background-color:black;  
   	} 
   	marquee
   	{
   		font-size: 20px;
        font-weight: 200;
        color: black;
        font-family: sans-serif;
        width: 100%;
        padding: 1px 0 ;
        background-color:red;
   	}	
    a
    {
    	font-size: 20px;
        font-weight: 200;
        color: blue;
        font-family: sans-serif;
    }        
</style>
</head>
<body>
<marquee  direction="right">
<h1>You r ready to go...!!!</h1><br>
</marquee>
<a href="home.html">click to go home page</a>
</body>
</html>
